requests
beautifulsoup4
prompt_toolkit
rich
yt-dlp
clipboard
openai
tiktoken
ollama
json-repair

pygame
tavily-python
pypdf
pyarrow
pandas
numpy
openpyxl
striprtf
python-magic
docx2txt
xlrd
odfpy
streamdown
